/* CSS Goes Here */
body {
	margin:0;

}

* {
	font-family: Lato, sans-serif;
}

.name {
	margin: 2px;
}

.navbar {
	background-color: #22313F;
	width: 100%;
	color: white;
	padding:autp 7px;
}

.navbar li {
	display: inline;
	margin: 10px;
}

.navlinks {	
	font-size: 15px;
	margin: auto 5px;
}

.intro:before {
	background-image: url("../img/cityscape.jpg");
	background-position: center;
	height: 600px;
	-webkit-filter: blur(5px);
  	-moz-filter: blur(5px);
  	-o-filter: blur(5px);
  	-ms-filter: blur(5px);
  	filter: blur(5px);
  	content: "";

  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
}

.introname {
	padding-left: auto;
	padding-right: auto;
	text-align: center;
}

.intro {
	height: 550px;
}

.introtext {
	vertical-align: center;
}
.introdescription {
	text-align: center;
}

.introtextcontainer {

	margin: 50px;
}
