/* CSS Goes Here */
html {
	background-color: white;
}

body {
	margin:0;
}
* {
	font-family: sans-serif;
}

.navbar {
	height: 50px;
	background-color: black;
	width: 100%;
	color: white;
}

.navbar li {
	display: inline;
	margin: 7px;
}

.navname {
	display: inline;
	float: left;
	margin-left: 10px;
}


.navlinks {
	display: inline;
	margin-right: auto;
	float: right;

}